<main class="content">
	<div class="splash-btn-container">
		<p class="btn splash-btn" id="single-player-button">Single Player</p>
		<p class="btn splash-btn" id="multi-player-button">Multiplayer</p>
	</div>	
</main>