<main class="content">
	<div class="join-lobby-container">
		<div class="room-id-container">
			<label for="room-id" class="room-id-label">Room ID: </label>
			<input type="number" name="room-id" id="room-id-num">
		</div>
		<div id="join-button-container">
			<P class="btn multi-player-btn" id="join-lobby-button">JOIN LOBBY</P>
		</div>
	</div>
	<div id="create-lobby-buttons">
		<div id="create-button-container">
			<P class="btn multi-player-btn" id="create-lobby-button">CREATE LOBBY</P>
		</div>
	</div>
</main>